<% layout('layouts/boilerplate') %>
<div
  class="container d-flex justify-content-center align-items-center mt-3 mb-3">
  <div class="row flex-fill">
    <h1>Update Profile Info</h1>
    <form
      class="row g-3 validated-form"
      action="/profile/<%= user._id %>?_method=put"
      method="POST"
      novalidate>
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          name="firstName"
          id="firstName"
          class="form-control"
          required
          value="<%= user.firstName %>" />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          name="lastName"
          id="lastName"
          class="form-control"
          value="<%= user.lastName %>"
          required />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          value="<%= user.email %>"
          required />
        <div class="valid-feedback">Looks Good!</div>
      </div>
      <div class="col-6">
        <label for="username" class="form-label">Username</label>
        <input
          type="text"
          name="username"
          id="username"
          class="form-control"
          required
          value="<%= user.username %>" />
      </div>
      <div class="col-md-6">
        <label for="PhoneNumber" class="form-label">Phone Number</label>
        <input
          type="tel"
          name="phoneNumber"
          class="form-control"
          id="phoneNumber"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          value="<%= user.phoneNumber %>"
          required />
        <div class="invalid-feedback">
          <small>Format: 123-456-7890</small>
        </div>
      </div>
      <!-- <div class="col-6">
        <label for="image" class="form-label">Profile Picture</label>
        <input class="form-control" type="file" id="image" name="image" />
        <div class="invalid-feedback">
          This profile would look much better with a picture.
        </div>
      </div> -->
      <div class="col-12 d-flex justify-content-center align-items-end">
        <button type="submit" class="btn btn-success">Update Info</button>
      </div>
    </form>
  </div>
</div>
