<% layout('layouts/boilerplate') %>
<h1 class="text-center">All Campgrounds</h1>
<div id="cluster-map"></div>
<a href="/campgrounds/new">Add New Campground</a>

<div class="container overflow-auto">
  <% for( let camp of campgrounds) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" alt="" src="<%= camp.images[0].url%>" />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title"><%= camp.title %></h4>
            <p class="card-text"><%= camp.description %></p>
            <p class="card-text">
              <small class="text-muted"><%= camp.locaton %> </small>
            </p>
            <a href="/campgrounds/<%=camp._id%>" class="btn btn-primary"
              >View <%= camp.title %>
            </a>
          </div>
        </div>
      </div>
    </div>
    <% } %>
</div>
<script>
  const mbToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campgrounds = {features: <%-JSON.stringify(campgrounds)%>}
</script>
<script src="/js/clustermap.js"></script>
